
/* Media query 1170px */
@media(max-width:1199.5px){
/* parallax */
    .parallax:not(.parallax-main){
        background-size: 50%;
    }
    .main-wrapper .black-card{
        width: 100%;
    }
/* process */
    .process-wrapper .process-content{
        width: 100%;
    }

/* contact page  */
    .form-section{
        padding: 4rem 1rem;
    }
    .contact .get-in-touch .card{
        padding: 2rem 1rem;
    }


}


  /* Media Query 991px */
@media (max-width:991.5px) {
    /* Navbar css  */
    .header .navbar-collapse{
        padding:2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.6rem 0.5rem;
        margin: 2rem;
    }


    /* Banner  */
    .banner-wrapper{
        margin-top: 4rem;
        padding: 4rem 2rem;
        min-height: 730px;
    }
    /* card  */

    .main-wrapper .black-card{
        left: -226px;
    }
    .main-wrapper .black-card.right{
        right: -226px;
    }

    /* parallax css  */
    .parallax-main{
        background-size: cover;
    }

    /* contact page */
    .contact .get-in-touch .card{
        min-height: 350px;
    }

}

/* Media Query 767px */
@media (max-width:767.5px){

    /* General css */
    body,
    html{
        font-size: 8px;
    }
    /* banner  */
    .banner-wrapper{
        min-height: 550px;
    }

    /* card  */
    .main-wrapper .black-card{
        left: 5%;
        width: 90%;
    }
    .main-wrapper .black-card.right{
        right: 5%;
        width: 90%;
    }

    /* Parallax css  */
    .parallax:not(.parallax-main){
        background-size: cover;
    }
    .parallax-1{
        background-size: cover;
    }
    /* contact  */
    .contact .get-in-touch .card{
       min-height: 310px;
    }

}

@media (max-width:590px){

    /* General css */
    body,
    html{
        font-size: 7px;
    }

    /* .parallax */
    .parallax.img2,
    .parallax.img3,
    .parallax.img4,
    .parallax.img5{
        height: 408px;
    }
    .main-wrapper{
        margin-top: 35vh;
    }

    /* footer */
    .link-widget a img{
        width: 30px;
        height: 30px;
    }

    /* contact page */
    .contact .get-in-touch .card{
        min-height: 254px;
     }

}

/* @media query 380px */
@media (max-width:390.4px){
    hi{
        font-size: 27px;
    }
    h2{
        font-size: 25px;
    }

}